blocks/AudioBlock/schema/audio-1.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns="http://moocip.de/schema/block/audio/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://moocip.de/schema/block/audio/"
    elementFormDefault="qualified"
>
    <xsd:attribute name="audio_description" type="xsd:string" />
    <xsd:attribute name="audio_source" type="xsd:string" />
    <xsd:attribute name="audio_file" type="xsd:string" />
    <xsd:attribute name="audio_id" type="xsd:string" />
</xsd:schema>
