blocks/MemuchoBlock/schema/memucho-1.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns="http://moocip.de/schema/block/memucho/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://moocip.de/schema/block/memucho/"
    elementFormDefault="qualified"
>
    <xsd:attribute name="data_id" type="xsd:string" />
    <xsd:attribute name="data_t" type="xsd:string" />
    <xsd:attribute name="data_questionCount" type="xsd:string" />
</xsd:schema>
