blocks/PdfBlock/schema/pdf-1.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns="http://moocip.de/schema/block/pdf/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://moocip.de/schema/block/pdf/"
    elementFormDefault="qualified"
>
    <xsd:attribute name="pdf_file" type="xsd:string" />
    <xsd:attribute name="pdf_filename" type="xsd:string" />
    <xsd:attribute name="pdf_file_id" type="xsd:string" />
    <xsd:attribute name="pdf_title" type="xsd:string" />
</xsd:schema>
