blocks/IFrameBlock/schema/iframe-1.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns="http://moocip.de/schema/block/iframe/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://moocip.de/schema/block/iframe/"
    elementFormDefault="qualified"
>
    <xsd:attribute name="url" type="xsd:string" />
    <xsd:attribute name="height" type="xsd:string" />
    <xsd:attribute name="width" type="xsd:string" />
    <xsd:attribute name="submit_user_id" type="xsd:string" />
    <xsd:attribute name="submit_param" type="xsd:string" />
    <xsd:attribute name="salt" type="xsd:string" />
    <xsd:attribute name="cc_infos" type="xsd:string" />
</xsd:schema>
