blocks/NoteBlock/schema/note-1.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns="http://moocip.de/schema/block/note/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://moocip.de/schema/block/note/"
    elementFormDefault="qualified"
>
    <xsd:attribute name="note_type" type="xsd:string" />
    <xsd:attribute name="note_color" type="xsd:string" />
    <xsd:attribute name="note_quantity" type="xsd:string" />
</xsd:schema>
