blocks/BadgeBlock/schema/badge-1.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns="http://moocip.de/schema/block/badge/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://moocip.de/schema/block/badge/"
    elementFormDefault="qualified"
>
    <xsd:attribute name="file" type="xsd:string" />
    <xsd:attribute name="file_id" type="xsd:string" />
    <xsd:attribute name="file_name" type="xsd:string" />
    <xsd:attribute name="folder_id" type="xsd:string" />
    <xsd:attribute name="file_height" type="xsd:string" />
    <xsd:attribute name="file_width" type="xsd:string" />
</xsd:schema>
