blocks/VideoBlock/schema/video-1.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns="http://moocip.de/schema/block/video/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://moocip.de/schema/block/video/"
    elementFormDefault="qualified"
>
    <xsd:attribute name="url" type="xsd:string" />
    <xsd:attribute name="webvideo" type="xsd:string" />
    <xsd:attribute name="webvideosettings" type="xsd:string" />
    <xsd:attribute name="videoTitle" type="xsd:string" />
    <xsd:attribute name="videoType" type="xsd:string" />
    <xsd:attribute name="aspect" type="xsd:string" />
</xsd:schema>
