blocks/BeforeAfterBlock/schema/beforeafter-1.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns="http://moocip.de/schema/block/beforeafter/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://moocip.de/schema/block/beforeafter/"
    elementFormDefault="qualified"
>
    <xsd:attribute name="ba_source" type="xsd:string" />
    <xsd:attribute name="ba_url" type="xsd:string" />
    <xsd:attribute name="ba_files" type="xsd:string" />
</xsd:schema>
