blocks/PostBlock/schema/post-1.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns="http://moocip.de/schema/block/post/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://moocip.de/schema/block/post/"
    elementFormDefault="qualified"
>
    <xsd:attribute name="post_title" type="xsd:string" />
    <xsd:attribute name="thread_id" type="xsd:string" />
    <xsd:attribute name="has_to_post" type="xsd:boolean" />
</xsd:schema>
